@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?unv9d6');
  src:  url('fonts/icomoon.eot?unv9d6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?unv9d6') format('truetype'),
    url('fonts/icomoon.woff?unv9d6') format('woff'),
    url('fonts/icomoon.svg?unv9d6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook3:before {
  content: "\e900";
  color: #1877f2;
}
.icon-gmail:before {
  content: "\e901";
  color: #d14836;
}
.icon-instagram1:before {
  content: "\e916";
  color: #e4405f;
}
.icon-line:before {
  content: "\e917";
  color: #00c300;
}
.icon-linkedin1:before {
  content: "\e918";
  color: #0077b5;
}
.icon-messenger:before {
  content: "\e902";
  color: #00b2ff;
}
.icon-twitter2:before {
  content: "\e919";
  color: #1da1f2;
}
.icon-whatsapp2:before {
  content: "\e91a";
  color: #25d366;
}
.icon-facebook1:before {
  content: "\e903";
  color: #1877f2;
}
.icon-linkedin:before {
  content: "\e904";
  color: #0077b5;
}
.icon-messenger1:before {
  content: "\e905";
  color: #00b2ff;
}
.icon-pinterest:before {
  content: "\e91b";
  color: #bd081c;
}
.icon-skype1:before {
  content: "\e906";
  color: #00aff0;
}
.icon-spotify:before {
  content: "\e91c";
  color: #1ed760;
}
.icon-telegram:before {
  content: "\e907";
  color: #2ca5e0;
}
.icon-twitter1:before {
  content: "\e908";
  color: #1da1f2;
}
.icon-whatsapp1:before {
  content: "\e909";
  color: #25d366;
}
.icon-home:before {
  content: "\e90a";
}
.icon-home2:before {
  content: "\e90b";
}
.icon-home3:before {
  content: "\e90c";
}
.icon-pencil:before {
  content: "\e90d";
}
.icon-pencil2:before {
  content: "\e90e";
}
.icon-image:before {
  content: "\e90f";
}
.icon-images:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e911";
}
.icon-headphones:before {
  content: "\e912";
}
.icon-music:before {
  content: "\e913";
}
.icon-play:before {
  content: "\e914";
}
.icon-video-camera:before {
  content: "\e915";
}
.icon-profile:before {
  content: "\e923";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-map:before {
  content: "\e94b";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-users:before {
  content: "\e972";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-shift:before {
  content: "\ea4f";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-svg:before {
  content: "\eae9";
}
