.cabana_menu 
	padding 0
	
	li
		display block
		list-style none
		margin-bottom 1rem

		a
			background #DC5B34
			border-radius 0.2rem
			color #eee
			display block
			padding 0.5em
			text-shadow 0px -1px 0px $negro_oscuro_transparente
			text-align center

			&:hover
				background #343434

	li.current-menu-item
	li.current_page_item
		display none
		

@media screen and (min-width: 450px)
	.cabana_menu
		li
			display inline-block
			margin-right 1rem