// Alineaciones de las imagenes insertadas en el texto

.wp-caption
	background #eee
	border 1px solid #999
	border-radius 5px
	margin-top 0.5em
	margin-bottom 0.5em
	padding 5px
	width auto !important
	img
		width 100% !important
		height auto !important
	.wp-caption-text
		background #999
		padding 5px
		text-align center
		margin 0
		border-radius 0 0 3px 3px
		font-style italic

.wp-caption.aligncenter
	display block
	margin-left auto
	margin-right auto
	text-align center

.wp-caption.alignleft
	display inline-block
	float left
	margin-right 0.5em

.wp-caption.alignright
	display inline-block
	float right
	margin-left 0.5em

.wp-caption.alignnone
	display block
	float none
	margin 0.5em
