// Estructuras generales de las páginas
.contenido_una_columna
	padding 0.5rem

.list_item
	// padding-top: 1em

	.list_item_img
		display: block
		margin: auto
		overflow: hidden

.encolumnas
	margin-top 1rem

	h2
	h3
	h4
	h5
	h6
		display inline-block
		margin-top 0
		padding-top 0
		text-align left

.segundo_contenido
	margin-top 1rem
	
/*
@media all and (min-width: 640px)
	.encolumnas
		column-count 2
		column-gap 1rem*/

.flexbox
	align-items stretch
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	padding 0.5rem

.flexbox__item
	margin-bottom 1.5rem
	width 100%

.header
	position relative

.seccion_principal
	box-sizing border-box
	justify-content space-between





@media all and (min-width: 961px)
	.flexbox__item
		width 49%
	
	#ubicacion
		.flexbox
			.flexbox__item:first-child
				padding-right 1rem
				
.list_item
	box-sizing border-box
	padding 0.1em 0.5em 0.5em 0.5em
	// margin 0 0.5em 1em 0.5em

	h2
		color orange
		// padding 0.2em 0.2em 0.2em 0.5em
		// margin 1em auto
	
	figure
		figcaption
			background #DC5B34
			// border-radius 0 0 0.5em 0.5em
			color #efefef
			padding 0
			margin-top -0.4em
			text-shadow 0px -1px 0px $negro_oscuro_transparente
			transition all ease 0.4s
			text-align center
			a
				padding 1rem
				color #fff
				margin 0
				display block
				&:hover
					background-color #343434
	div
		&.list_item_img
			margin-top 1em

	&.contacto
		padding 1em 0

@media screen and (min-width: 650px)
	// Solo sirve para ocultar el mensaje de abajo
	#mensaje
		display none

	.list_item
		padding-top 1em

	.list_item
		figure
			display block

			img
				display block
				margin 0
				// margin-bottom 0.25em
				// margin-top 0.25em
	
		.contacto
			padding 0.1em 0.5em 0.5em 0.5em
	
	
		div
			.list_item_img
				margin 1em auto
	
		.blog
			div
				.list_item_content
					max-width auto


.imagen_resaltar
	display block
	padding 0
	position relative
	
	&:before
		background-color rgba(0,0,0,0.3)
		content ''
		display block
		height 100%
		left 0
		position absolute
		transition all 0.2s ease
		top 0
		width 0
		
	&:hover
		&:before
			width 100%
	
/*	img
		border 1px solid red
		margin 0
		display block*/