// Estructuras generales de las páginas

.flexbox
	align-items stretch
	display flex
	flex-direction row
	flex-wrap wrap
	padding 0.5rem

.header
	position relative

.seccion_principal
	box-sizing border-box
	justify-content space-between

@media all and (min-width: 961px)
	.flexbox__item
		width 50%