// Estructuras generales de las páginas
.contenido_una_columna
	padding 1rem

.flexbox
	align-items stretch
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	padding 0.5rem

.flexbox__item
	margin-bottom 1.5rem
	width 100%

.header
	position relative

.seccion_principal
	box-sizing border-box
	justify-content space-between

#servicios
	.list_item
		padding-top: 1em
		.list_item_img
			display: block
			margin: auto
			overflow: hidden



@media all and (min-width: 961px)
	.flexbox__item
		width 49%
	
	#ubicacion
		.flexbox
			.flexbox__item:first-child
				padding-right 1rem
				