// Logotipo de la home
#logo, #logo_home
	margin 0
	position relative
	transition all 0.4s ease-in-out
	width 100%


#logo div, #logo figure, #logo_home figure, #logo_home div
	display inline-block
	text-shadow 0px -1px 0px $negro_oscuro_transparente

#logo figure, #logo_home figure
	width 150px