// Los Sliders de todos lados

// El slider secundario
.slider_secundario
	float right
	margin-bottom 2rem !important
	
@media all and (min-width: 800px)
	.slider_secundario
		margin-right 2rem !important