// Slider de la home
#home_slider
	overflow hidden

	img
		height 100vh
		object-fit cover

#home_slider
	z-index 12

// Los Sliders de todos lados
#slider
{
	overflow: hidden;
	position: relative;
	width: 100%;
}
#slides img
{
	border: none;
	display: block;
	margin: 0 auto;
	text-transform: center;
}

// El slider secundario
.slider_secundario
	float right
	margin-bottom 2rem !important
	
@media all and (min-width: 800px)
	.slider_secundario
		margin-right 2rem !important