@import 'node_modules/nib/lib/nib/index.styl'
@import "normalize.styl"
@import "variables.styl"
@import "fuentes.styl"
@import "tag_generales.styl"

// Estilos del formulario en conjunto
@import "formulario_en_conjunto.styl"

// Titulares y subtítulos
@import "encabezados_general.styl"

// Layouts varios
@import "layouts.styl"

// Todas las tablas
@import "tablas.styl"

// Alineaciones de las imagenes insertadas en el texto
@import "imagenes_insertadas_wordpress.styl"

// El botón del menú
@import "boton_menu.styl"

// Los íconos en general
@import "../fuentes/icomoon/style.styl"
@import "iconos.styl"

@import "navegacion.styl"
@import "paginacion.styl"

/*#googlemaps
	color #232323
	margin 0.5em
	overflow hidden*/


#home_slider
	overflow hidden

	img
		height 100vh
		object-fit cover

#home_slider
	z-index 12



#logo,
#logo_home

	margin 0
	position relative
	transition all 0.4s ease-in-out
	width 100%


#logo div, #logo figure, #logo_home figure, #logo_home div
{
	display: inline-block;
	text-shadow: 0px -1px 0px $negro_oscuro_transparente;
}
#logo figure, #logo_home figure
{
	width: 150px;
}
/*#mapa-curabrochero
{
	margin: 0.5em;
}
#mapa-curabrochero figcaption:hover a
{
	color: orange;
}*/

#servicios .list_item
{
	padding-top: 1em;
}
#servicios .list_item .list_item_img
{
	display: block;
	margin: auto;
	overflow: hidden;
}
#slider
{
	overflow: hidden;
	position: relative;
	width: 100%;
}
#slides img
{
	border: none;
	display: block;
	margin: 0 auto;
	text-transform: center;
}
#tarifas .redes_sociales
{
	margin-left: 1em;
	padding: 0.2em 0;
}
#ventana
	display none



// las clases
.boton_general
{
	transition: all 0.4s ease-in-out;
}
.blog .button, .vermas, .comment-reply-link
{
	display: inline-block;
	background: #3C7F69;
}
.blog .page
{
	color: #ddd;
	text-shadow: 0px 0px 1px $negro_oscuro_transparente;
}
.blog .page a, .comment-meta.commentmetadata a
{
	color: #DC5B34;
}
.blog .page a:hover, .blog .page a:active, .blog .page a:focus, .comment-meta.commentmetadata a:hover, .comment-meta.commentmetadata a:active, .comment-meta.commentmetadata a:focus
{
	color: orange;
}
.cabana_menu 
{
	padding: 0;
}
.cabana_menu li
{
	list-style: none;
}
.cabana_menu li a
{
	background: rgba(250,50,50,0.5);
	border-radius: 0.2em;
	color: orange;
	display: block;
	margin: 2px 0;
	padding: 0.5em;
	text-shadow: 0px -1px 0px $negro_oscuro_transparente;
}
.cabana_menu li a:hover, .cabana_menu li a:active, .cabana_menu li a:focus
{
	background: #343434;
}
.cabana_menu li.current-menu-item, .cabana_menu li.current_page_item
{
	display: none;
}
.clearfix
{
	clear: both;
}
.comment-awaiting-moderation
{
	font-style: normal;
}
.comment-awaiting-moderation:after
{
	content: " ]";
}
.comment-awaiting-moderation:before
{
	content: "[ ";
}
.comment-body
{
	margin: auto;
}
.commentlist
{
	padding: 0;
}
.commentlist li
{
	list-style: none;
	margin: 0.2em 0
}
.destacada
{
	box-shadow: 0px 0px 10px #FFB403;
	border-radius: 5px;
	overflow: hidden;
}
.destacada th[colspan="2"]
{
	background: #FFB403;
}

.list_item
{
	// background: rgba(0,0,0,0.5);
	box-sizing: border-box;
	padding: 0.1em 0.5em 0.5em 0.5em;
	margin: 0 0.5em 1em 0.5em;
}
.list_item.contacto
{
	padding: 1em 0;
}
.list_item div.list_item_img
{
	margin-top: 1em;
}
.list_item figure img
{
	border-radius: 0.5em;
}
.list_item figure figcaption
{	
	background: #DC5B34;
	border-radius: 0 0 0.5em 0.5em;
	color: #efefef;
	margin-top: -0.4em;
	text-shadow: 0px -1px 0px $negro_oscuro_transparente;
	transition: all ease 0.4s;
}
.list_item h2
{
	color: orange;
	padding: 0.2em 0.2em 0.2em 0.5em;
	margin: 1em auto;
}



.redes_sociales
{
	padding: 0.5em 0 0 0;
}
.servicios div ul
{
	list-style: none;
	padding: 0;
}
.servicios figcaption
{
	background: rgba(22, 107, 236,0.8);
	bottom: 0;
	color: #ededed;
	display: block;
	font-family: 'Open Sans';
	letter-spacing: 2px;
	padding: 0.3em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.servicios figure
{
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	max-width: 300px;
}
.servicios figure img
{
	margin: 0;
	padding: 0;
	width: 100%;
}
.servicios ul li
{
	display: inline-block;
	padding: 0;
	margin: -2px -2px;
}
.separador
	display none

// el formulario
div.wpcf7-response-output
{
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}
div.wpcf7-mail-sent-ok
{
	border: 2px solid #398f14;
}
div.wpcf7-mail-sent-ng
{
	border: 2px solid #ff0000;
}
div.wpcf7-spam-blocked
{
	border: 2px solid #ffa500;
}
div.wpcf7-validation-errors
{
	border: 2px solid #f7e700;
}
span.wpcf7-form-control-wrap
{
	position: relative;
}
span.wpcf7-not-valid-tip
{
	color: #f00;
	font-size: 1em;
	display: inline-block;
}
span.wpcf7-list-item
{
	margin-left: 0.5em;
}
div.wpcf7 img.ajax-loader
{
	border: none !important;
	margin-left: 4px !important;
	vertical-align: middle !important;
	width: auto !important;
}
div.wpcf7 div.ajax-error
{
	display: none;
}
div.wpcf7 .placeheld
{
	color: #888;
}
.wpcf7-display-none
{
	display: none;
}

// Responsive Web Design
@media screen and (max-width: 290px)
	article
	section
	header
	#contenedor
		border none
		padding 0
		margin 0 auto

	h1
		font-size 1.3em

	.barra_navegacion
		ul
			li
				&:hover
				&:focus
				&:active
					ul
						margin-bottom: 4em
						display block

@media screen and (max-width: 320px)
	div.list_item
		margin-left 0
		margin-right 0



@media screen and (max-width: 650px)
	// Solo sirve para ocultar el mensaje de abajo
	#mensaje
		display none

	.list_item figure img
		margin-bottom 0.25em
		margin-top 0.25em


@media screen and (min-width: 650px)
	@import "fancybox.styl"
	.clearfix
		clear both

	article
		position relative
		padding-bottom 5em

	article#home_slider
		padding-bottom 0

	form img.captchac
		margin-left 1em


	h1
		font-size 1.5em

	#mensaje
		font-size 1.1em
		padding 0.5em

	#servicios .list_item_img
		max-width 600px

	#servicios #slider ul
		width 60%

	.blog
		padding-top 0.05em

	.blog h2 
		display block

	.blog figure
		display inline-block
		float left
		margin auto 2em 1em 1em
		max-width 250px
	
	.blog div.list_item_content a.button,
	.vermas
		float right
	
	.cabana_menu li,
	.cabana_menu li a
		display inline
	
	.commentlist
		padding 0.5em 0.5em 0.5em 1.5em
	
	.list_item
		padding-top 1em
	
	.list_item.contacto
		padding 0.1em 0.5em 0.5em 0.5em
	
	.list_item figure img
		border-radius 0.5em 0.5em 0 0
	
	.list_item div.list_item_img
		margin 1em auto
	
	.list_item.blog div.list_item_content
		max-width auto
	
	.navegacion
		top 40%
	
	.servicios figcaption
		padding 1em
	

@media screen and (min-width: 960px) {
	div.wpcf7, form.wpcf7-form
	{
		display: inline-block;
	}
	h2
	{
		font-size: 1.8rem;
	}
	nav
	{
		position: absolute;
		right: 2px;
		top: 1px;
		z-index: 330;
	}
	#blog .list_item .list_item_content
	{
		display: block;
		float: none;
		margin-left: 0;
		max-width: 100%;
		width: auto;
	}
	#contenedor
	{
		// max-width 900px
		position relative
	}
/*	#googlemaps
	{
		margin-top: 0;
		padding: 0;
		position: absolute;
		right: 0;
		display: inline-block;
		width: 48%;
	}*/
	#googlemaps iframe
	{
		height: 100% !important;
	}
	#logo, #logo_home
	{
		display: inline-block;
		position: absolute;
		box-sizing: border-box;
		z-index: 122;
	}
	#logo_home
	{
		border: none;
		box-shadow: none;
	}
	#logo figure img, #logo_home figure img
	{
		width: 200px;
	}
/*	#mapa-curabrochero
	{
		width: 48%;
	}*/
	#mensaje
	{
		font-size: 1.5em;
	}
	#ventana
	{
		height: 700px;
	}
	#servicios #slider ul
	{
		width: 50%;
	}	
	#slider
	{
		min-height: 400px;
	}
	.list_item
	{
		display: block;
		padding-top: 1.2em;
	}
	.list_item h2
	{
		display: block;
		padding: 0.3em 1em;
	}
	.list_item div.list_item_content
	{
		display: inline-block;
		max-width: 45%;
		margin: 0 0 1em 5%;
	}
	.list_item.blog div.list_item_content
	{
		float: right;
		max-width: 60%;
	}
	.list_item div.list_item_img
	{
		display: inline-block;
		margin: 0.6em 0 1em 3%;
		max-width: 46%;
		vertical-align: top;
	}
	.navegacion
	{
		top: 43%;
	}
	.navegacion .back a, .navegacion .next a
	{
		transition: all 0.2s ease-in-out;
	}
	.navegacion .back a:hover
	{
		background: rgba(0,0,0,0.7);
		padding-left: 0.4em;
	}
	.navegacion .next a:hover
	{
		background: rgba(0,0,0,0.7);
		padding-right: 0.4em;
	}
	.separador
	{
		display: none !important;
		margin-top: 3.1em;
		width: 100%;
	}
	.servicios ul
	{
		display: block;
		margin-left: 0.3em;
		padding: 0;
		transform: rotate(-3deg);
		z-index: 0;
	}
	.servicios ul li
	{
		transform: scale(1.1);
	}
	.servicios .contenido
	{
		margin: auto 1em 1em auto;
		position: relative;
		text-align: right;
		width: 70%;
	}
}



	
	
		
// Retina Display
/*
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-ms-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)
	@media only screen and (min-width: 650px)
		div.footer_bg
			background url("../img/footer_bg_tablet@2x.png") bottom center no-repeat
			background-size 600px 94px

	@media only screen and (min-width: 960px)
		div.footer_bg
			background url("../img/footer_bg@2x.png") bottom center no-repeat
			background-size 900px 142px
*/

@import "impresion.styl"