// Todas las tablas
.table
	font-size 0.7rem
	text-shadow none
	width 100%

	tbody tr:nth-child(even)
		background $gris_suave

	tfoot tr:nth-child(odd)
		background $blanco_anaranjado


	thead tr th,
	caption
		background $gris
		padding 0.3rem
		text-align center
		text-transform uppercase
		vertical-align top
	
	thead
		border-bottom 2px solid $naranja
	
	caption
		background-color $naranja
		font-weight bold
		color #fff

	tr		
		td
			padding 0.5em
			text-align center

	tfoot
		border-top 10px solid $naranja
		border-bottom 2px solid $naranja
		tr
			td
				text-align left
				vertical-align top
				
			td:first-child
				text-transform uppercase
				

@media screen and (min-width: 450px)
	.table
		font-size 0.9rem

@media screen and (min-width: 650px)
	.table
		font-size auto

@media screen and (min-width: 960px)
	.table
		font-size 1.1rem