// Etiquetas generales y varias
a
	color $naranja
	font-family 'Raleway'
	text-decoration none
	transition all 0.2s ease-in-out
	&:hover
		color lightblue

body
	color #555
	font-family 'Open Sans'
	font-size 130%
	font-weight normal
	line-height 150%
	margin 0

figure
	position relative

	figcaption
		background rgba(0,0,0,0.7)
		display block
		font-family 'Raleway'
		font-weight lighter
		padding 1em

footer
	background $blanco_anaranjado
	padding 1rem
	text-align center

img
	width: 100%

.avatar
	width: auto

ul
ol
	padding-right: 1em

	li
		margin 0.5rem auto
	

